* {
  padding: 0;
  margin: 0;
}
nav {
  display: none;
}
.sectionmobile {
  margin-top: 20px;
  background-image: url(/Rectangle\ 5.png);
}
.sectiondesktop {
  display: none;
}
.perfect {
  padding-left: 30px;
  padding-top: 40px;
  color: white;
}
.firstimage {
  display: none;
}
.lodge {
  padding-top: 20px;
}
.buttons {
  padding-top: 20px;
  padding-left: 30px;
}
.get {
  padding: 10px 20px;
  color: #190e2c;
  border-radius: 5px;
  background-color: white;
  border-style: hidden;
  font-size: 15px;
}
.learn {
  padding: 10px 20px;
  border-radius: 5px;
}
@media only screen and (min-width: 600px) {
  nav {
    display: flex;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #fef5f1;
  }
  .home,
  .listing,
  .Aboutus,
  .contact,
  .login {
    color: #190e2c;
    margin-right: 90px;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .signup {
    margin-right: 90px;
    margin-top: 30px;
    padding: 10px 25px;
    margin-bottom: 30px;
    color: white;
    border-radius: 5px;
    background-color: #190e2c;
    text-decoration: none;
  }
  .firstimage {
    display: flex;
    justify-content: flex-end;
    width: 30px;
    background-repeat: no-repeat;
  }
  .sectionmobile {
    display: none;
  }
  .sectiondesktop {
    display: flex;
  }
  .finda {
    color: #190e2c;
  }
}
