* {
  padding: 0;
  margin: 0;
}
.header {
  padding-top: 20px;
}
.find {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
.title {
  color: #83370e;
}
.corper {
  margin-left: 20px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}
.anywhere {
  color: #ffa219;
}
nav {
  display: none;
}
.sectionmobile {
  margin-top: 20px;
  background-image: url(/Rectangle\ 5.png);
}
.sectiondesktop {
  display: none;
}
.perfect {
  padding-left: 30px;
  padding-top: 40px;
  color: white;
}
.firstimage {
  display: none;
}
.lodge {
  padding-top: 20px;
}
.buttons {
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  padding-left: 30px;
  padding-bottom: 20px;
}
.get {
  padding: 10px 20px;
  color: #190e2c;
  border-radius: 5px;
  background-color: white;
  border-style: hidden;
  font-size: 15px;
}
.learn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #190e2c;
  color: white;
  border: 2px solid white;
}
.back {
  margin-top: 40px;
  width: 170px;
  margin-left: 40px;
}
.front {
  width: 170px;
  margin-bottom: -40px;
  border: 10px solid #190e2c;
  margin-left: -130px;
}
.luxury {
  margin-top: 60px;
  margin-left: 30px;
}
.enjoy {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}
.hello {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}
.buttons1 {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
}
.view {
  padding: 10px 10px;
  background-color: #190e2c;
  color: white;
}
.check {
  padding: 10px 10px;
  color: #190e2c;
}
h3 {
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
}
.firsthotel {
  border: 1px solid grey;
  padding-left: 30px;
  margin-left: 20px;
  border-radius: 5px;
  width: 220px;
}
.rad {
   margin-left: -15px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
.Bedroom {
  color: #ffa219;
  background-color: #190e2c;
  padding: 3px 3px;
  margin-left: -10px;
}
.heater {
  color: #ffa219;
  background-color: #190e2c;
  padding: 3px 3px;
}
.heater1 {
  color: white;
}
.parking {
  color: #ffa219;
  background-color: #190e2c;
  padding: 3px 3px;
  margin-left: -10px;
  margin-top: 20px;
}
.parking1 {
  color: white;
}
.room {
  color: white;
}
.firsthotelimg {
width: 260px;
margin-left: -35px;
}
.tower {
  color: #ffa219;
  background-color: #190e2c;
  padding: 3px 3px;
}
.tower1 {
  color: white;
}
.wifi {
  color: #ffa219;
  background-color: #190e2c;
  padding: 3px 3px;
}
.wifi1 {
  color: white;
}
.pool {
  color: #ffa219;
  background-color: #190e2c;
  padding: 3px 3px;
}
.pool1 {
  color: white;
}
.buttons2 {
  display: none;
}
@media only screen and (min-width: 600px) {
  nav {
    display: flex;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #fef5f1;
  }
  .home,
  .listing,
  .Aboutus,
  .contact,
  .login {
    color: #190e2c;
    margin-right: 90px;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .signup {
    margin-right: 90px;
    margin-top: 30px;
    padding: 10px 25px;
    margin-bottom: 30px;
    color: white;
    border-radius: 5px;
    background-color: #190e2c;
    text-decoration: none;
  }
  .firstimage {
    display: flex;
    justify-content: flex-end;
    margin-left: 1200px;
    width: 630px;
    margin-top: -330px;
    height: 700px;
    background-repeat: no-repeat;
  }
  .sectionmobile {
    display: none;
  }
  .sectiondesktop {
    display: flex;
    margin-top: 30px;
  }
  .finda {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
  }
  .anywhere {
    color: #83370e;
  }
  .you {
    color: grey;
    font-size: 30px;
    margin-top: 60px;
  }
  .back {
    margin-top: 40px;
    height: 390px;
    width: 250px;
    margin-left: 170px;
  }
  .color {
    background-color: #FDF2ED;
    padding-bottom: 50px;
  }
  .front {
    margin-top: 80px;
    margin-left: -190px;
    height: 370px;
    width: 250px;
  }
  .buttons2 {
    display: flex;
  }
  .get {
    position: absolute;
    margin-top: 30px;
    font-size: 20px 10px;
    background-color: #190e2c;
    color: white;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #190e2c;
    font-size: 20px;
  }
  .learn {
    position: absolute;
    margin-left: 180px;
    background-color: white;
    color: #190e2c;
    border: 1px solid #190e2c;
    font-family: "Montserrat", sans-serif;
    padding: 10px 35px;
    font-size: 20px;
    margin-top: 30px;
  }
  .luxury {
    position: absolute;
    margin-left: 700px;
    margin-top: -410px;
  }
  .enjoy {
    font-size: 50px;
  }
  .hello {
    font-size: 25px;
  }
  .buttons1 {
     position: absolute;
     margin-top: -40px;
     margin-left: 710px;
  }
  .view {
    font-size: 20px;
    border-radius: 5px;
  }
  .check {
    font-size: 20px;
    border-radius: 5px;
  }
}
